@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  /* background: #000; */
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rethink Sans", sans-serif;
}

input[type="range"] {
  appearance: none;
  height: 3px;
  border-radius: 8px;
  background: #bdc3c7 100% repeat-x;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #000;
  transform: translateY(-0%);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #000 !important;
  transform: translateY(-0%);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #000;
  transform: translateY(-0%);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track,
input[type="range"]::-ms-track {
  width: 300px;
  height: 5px;
  border-radius: 3px;
  border: none;
}
